:root{--lightgray:#eceff4;--gray:silver;--dark:#444;--darkgray:#888;--red2:#630606;--red:#890F0D;--white:#fff}
*{box-sizing:border-box}
html,body{padding:0;margin:0;font-family:-apple-system, system-ui, sans-serif;color:var(--dark);background-color:var(--white);line-height:1.75;font-size:1.125em}
h1,h2,h3,h4{margin:.5rem 0;font-weight:normal}
h4{font-size:1.125em}
h3{font-size:1.25em}
h2{font-size:1.35em}
h1{font-size:1.75em}
p,.tmpl-post li{max-width:37.5em;margin:1rem 0}
img{max-width:100%;border:.0625rem solid var(--gray);margin:1rem 0}
a[href]{color:var(--red);text-decoration:none}
a[href]:visited{color:var(--red)}
a[href]:hover{text-decoration:underline}
hr{border:0 none;margin:1.5rem 0}
main{padding:1rem;max-width:37.5em;margin:0 auto;}
header{display:flex;padding:4rem 0;justify-content: space-between;margin: 0 auto;width: 35.5em;}
header:after{content:"";display:table;clear:both}
table{margin:1em 0}
table td,table th{padding-right:1em}
pre,code{font-family:Consolas,Menlo,Monaco,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L","Courier New",Courier,monospace;line-height:1.5}
pre{font-size:14px;line-height:1.375;direction:ltr;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;-moz-tab-size:2;-o-tab-size:2;tab-size:2;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none;padding:1em;margin:.5em 0;background-color:#f6f6f6}
code{word-break:break-all}
.highlight-line{display:block;padding:.125em 1em;text-decoration:none;color:inherit}
.highlight-line:empty:before{content:" "}
.highlight-line + br{display:none}
.highlight-line-isdir{color:#b0b0b0;background-color:#222}
.highlight-line-active{background-color:#444;background-color:hsla(0,0%,27%,.8)}
.highlight-line-add{background-color:#45844b}
.highlight-line-remove{background-color:#902f2f}
.home{padding:0 25% 0 1rem}
.home :link:not(:hover){text-decoration:none}
.tittlepage{padding:0 1rem}
.postlist{list-style:none;padding:0}
.postlist-item{line-height:1.8;width:calc(99% / 2);height:auto;display:inline-block;vertical-align:top;padding:1.5rem 1rem;border-top:.0625rem dashed var(--gray)}
.postlist-item:nth-child(3n+1){width:calc(99% / 1)}
.postlist-item:nth-child(3n+2){border-right:.0625rem solid var(--white)}
.postlist-item:nth-child(3n+2):hover{border-right:.0625rem dashed var(--gray)}
.postlist-item:nth-child(3n+3){border-left:.0625rem solid var(--white)}
.postlist-item:nth-child(3n+3):hover{border-left:.0625rem dashed var(--gray)}
.tmpl-post{border-top:.0625rem dashed var(--gray)}
.post-tag{color:var(--darkgray);display:inline-flex;align-items:center;justify-content:center;padding-right:.8em}
.post-tag:before{content:"#"}
.postlist-item > .post-tag{align-self:center}
time{color:var(--darkgray);padding-right:.8em}
.pagenav{display:block;width:auto;overflow:hidden;padding:1.75rem 0;border-top:.0625rem dashed var(--gray);border-bottom:.0625rem dashed var(--gray);}
.pagenav a{display:block;width:50%;float:left}
.pagenav .next{text-align:right;float:right}
.direct-link{font-family:sans-serif;text-decoration:none;font-style:normal;margin-left:.1em}
a[href].direct-link,a[href].direct-link:visited{color:transparent}
a[href].direct-link:focus,a[href].direct-link:focus:visited,:hover > a[href].direct-link,:hover > a[href].direct-link:visited{color:#aaa}
footer{padding:5rem 1em;display: block;margin: 0 auto;text-align:center;}
.nav{font-size:85%;padding-top:2%;}
.nav-item{display:inline-block;margin:0 0.5em}
.nav-item a[href]:not(:hover){text-decoration:none}
.nav-item-active{font-weight:bold}
.info{font-size:85%;color:var(--darkgray);max-width:100%}
#instafeed {margin: 0; padding: 0 1rem 3rem;display: grid;grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));grid-auto-rows: auto;grid-gap: 1rem;}
#instafeed li {margin: 0;padding: 0;list-style: none;background: url() center center / cover no-repeat;position: relative;}
#instafeed li a {display: block;padding-bottom: 100%;}
#instafeed li.video a:before {content: "";background: url(https://profilepageimages.usecue.com/img/play.svg) center center / 45% auto no-repeat;width: 32px;height: 32px;position: absolute;right: 0;top: 0;z-index: 1;}
#instafeed li.carousel_album a:before {content: "";background: url(https://profilepageimages.usecue.com/img/carousel.svg) center center / 50% auto no-repeat;width: 32px;height: 32px;position: absolute;right: 0;top: 0;z-index: 1;}
#instafeed li:hover a::after {content: "";position: absolute;left: 0; top: 0;width: 100%;height: 100%;background: url(https://profilepageimages.usecue.com/img/interact.svg) center center / auto 19px no-repeat;z-index: 1;}
#instafeed li a img {display: none;}
.front {padding: 0 1rem; font-size:85%;}
@media only screen and (max-width: 47.9999em) {
header{display:block;width:auto;}
.home,.nav{float:none}
.nav {padding-left: 1em;}
.tmpl-home{padding:1rem 0}
.postlist-item{width:calc(99% / 1);padding:1rem}
.postlist-item:nth-child(3n+2){border-right:none}
.postlist-item:nth-child(3n+2):hover{border-right:none}
.postlist-item:nth-child(3n+3){border-left:none}
.postlist-item:nth-child(3n+3):hover{border-left:none}
#instafeed {padding:0 1rem 3rem;}
#instafeed li:nth-child(n+18){display: none;}
}
