---
layout: layouts/home.njk
permalink: /posts/
title: Arsip Blog
eleventyNavigation:
  key: Arsip Blog
  order: 2
---
{% set maxPosts = collections.posts.length | min(1000) %}
<h2 class="tittlepage">Arsip Blog {% if maxPosts == 1 %}{% else %}({{ maxPosts }}){% endif %}</h2>
{% set postslist = collections.posts %}{% include "postslist3.njk" %}
