---
pagination:
  data: collections.post
  size: 5
  alias: entries
layout: layouts/home.njk
permalink: /posts/{% if pagination.pageNumber > 0 %}page{{ pagination.pageNumber + 1 }}/{% endif %}
eleventyNavigation:
  key: Arsip Blog
  order: 2
---
<h2 class="tittlepage">Arsip Blog</h2>
{% set postslist = collections.posts %}
{% include "postslistlite.njk" %}
