---
layout: layouts/home.njk
eleventyNavigation:
  key: Beranda
  order: 1
---
<h2 class="tittlepage">Insta</h2>
<ul id="instafeed"></ul>
<script>
var instagram_username="ookrah",instagram_amount=3,jsonurl="https://profilepageimages.usecue.com/images/"+instagram_username+"/images.json",request=new XMLHttpRequest;request.open("GET",jsonurl,!0),request.onload=function(){200<=this.status&&this.status<400&&JSON.parse(this.response).forEach(function(e,t){var a,s;t<instagram_amount&&(a=e.image_small,s=(s=e.caption)||"",t=e.permalink.replace(/\/$/,""),e=e.media_type.toLowerCase(),document.getElementById("instafeed").innerHTML=document.getElementById("instafeed").innerHTML+"<li style='background-image: url("+a+")' class='"+e+"'><a href='"+t+"' target='_blank' title='"+s+"'><img src='"+a+"' alt='"+s+"' /></a></li>")})},request.onerror=function(){},request.send();
</script>
