---
layout: layouts/home.njk
eleventyNavigation:
  key: Ook Rahmawan
  order: 1
---
{% set postslist = collections.posts | head(-3) %}
{% include "postslist.njk" %}
{% set postslist = collections.posts | head(+2, -10) %}
{% include "postslistlite.njk" %}
