---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Allow: /
Disallow: 
Disallow: /404
Disallow: /tags
Disallow: /tags/
Disallow: /page-list
Disallow: /contact
Sitemap: http://ook.web.id/sitemap.xml
