---
permalink: /tags/
layout: layouts/home.njk
key: Penanda
---
<h2 class="tittlepage">Penanda</h2>
<ol class="postlist">
<li class="postlist-item">
{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{% endfor %}
</li>
</ol>
