---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Ditandai “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
---
<h2 class="tittlepage">Ditandai “{{ tag }}”</h1>
{% set postslist = collections[ tag ] %}
{% include "postslistlite2.njk" %}
